/* outside test (page-format) */
body {
  background-color: aliceblue;
}
.title {
  text-align: center;
}

/* test format  */
.tests {
  background-color: lightsteelblue;
  margin: 2rem 10rem;
  padding: 2rem;
  border: solid #536884 5px;
  border-radius: 1rem;

  justify-items: center;

  box-shadow: #6782a6 0px 0px 1rem 1px;
}

/* blocks in tests */
.items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.item {
  background-color: tomato;
  padding: 1rem;
  border: solid black 2px;
  border-radius: 10px;
}
.form-group {
  margin: 0.5rem;
}
