/* outside test (page-format) */
body {
  background-color: aliceblue;
}
.title {
  text-align: center;
}

/* test format  */
.tests {
  background-color: lightsteelblue;
  margin: 2rem 10rem;
  padding: 2rem;
  border: solid black 5px;

  justify-items: center;
}

/* blocks in tests */
.items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.item {
  background-color: tomato;
  padding: 1rem;
  border: solid black 2px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
