.tests {
  background-color: lightskyblue;
  margin: 2rem;
  padding: 2rem;
  border: solid black 5px;

  justify-items: center;
}

.items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.item {
  background-color: tomato;
  padding: 1rem;
  border: solid black 2px;
}
